
form {
    border: 3px solid #f1f1f1;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    background-color: red;
    padding: 14px 20px;
    width: auto;
}

span.psw {
    float: right;
    padding: 16px;
}
.big-text{
    animation:slidein 1.5s;
    font-family: 'League Spartan', sans-serif;
    font-size: 30;
    margin: 20px 0;
    color: #fff;
}
a.btn.btn-first
{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #573b8a;
    box-shadow: 5px 20px 50px #000;
    border-radius: 20px;
}
a.btn:hover
{
    color: black;
}

/* slide-text */
.interest{
  color: #fff;
    animation:slide-right 1.5s ;
}
.and{
  color: #fff;
    animation: slidein 1.5s;
}
.head1{
  font-family:'Jost', sans-serif;
  color: #fff;
    animation:slide-right 1.5s;
    }
  @keyframes fadeIn{
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity:1;}
    }
    @keyframes slidein {
        from {
          margin-left: 100px;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      } 
      @keyframes slide-right {
        from {
           margin-left: -200px;
        }
    
        to {
           margin-left: 0%;
        }
     }
     
/* dark-mode */
.moon-sun .toggle-darkmode{
  height: 100%;
  min-width: 60px;
  margin-top: -30px;
}

.moon-sun .moon{
  position: relative;
position: absolute;
height: 25px;
width: 25px;
margin-top: 10px;
opacity: 100;
transition: 1s;

}
.moon-sun .sun{
opacity: 0;
height: 25px;
width: 25px;
margin-top: 10px;
}
header{
padding: 0;
margin: 0;
height: 100vh;
background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.navbar .logo{
scale: 70%;
}
.nav-link{
margin-right: 20px;
padding: 15px 0px 0px;
}
header.dark{
background: #1F1B24;
}
header.dark .sun{
transition: 0.5s;
opacity: 100;
}
header.dark .moon{
transition: 0s;
opacity: 0;
}
.chkbutton{
  margin-top: -25px;
  position: absolute;
  display: flex;
  height: 30px;
 width: 30px;
 border-radius: 30px ;
 border: none;
 background-color: transparent;
}
/* color nav and font stlye */
.backgroundnav{
  font-family:'Jost', sans-serif;
  box-shadow: 5px 20px 50px #000;
  background-color: whitesmoke;
}
/* meadia */
