* {
    margin: 0;
    padding: 0;

}

.header {
    height: 100vh;

}
.navbar-style {
    /* box-shadow: 0 5px 10px #efefef;  */
    text-transform: uppercase;
    background-color: whitesmoke;


}
.logo{
    height: 50px;
    /* padding: 2px; */
    /* margin-left: -40px; */

}

.icon-bar{
    background: darkorange;
}
body {
    background-color: white;
  }
  
  .dark-mode {
    background-color: #2B2B2B;
    color: white;
  }
  .country {
    background-color: coral;
    color: blanchedalmond;
    border: 5px solid burlywood;
    margin: 10px;
    padding: 10px;
}.table2 {
    color: black;

}

thead ,

tbody ,

tfoot,

table,
th 

td {
    border: blue solid 1px;
}

tr,
table {
    color: black;
    margin: 20px;
    padding: 20px;
}

.th1 {
    color: brown;
}

.td1 {
    border: 2px solid black;
}
a:link {

    /* สีของตัวหนังสือ link */
    background-color: transparent;
    text-decoration: none;
}

a:visited {

    background-color: orange;
    text-decoration: none;
}

a:hover {
    color: yellow;
    /* สีตัวหนังสือตอนเอาเม้าส์ชี้ไปที่ link */
    text-decoration: underline;
}

a:active {
    color: pink;
    /* สีของตัวหนังสือเมื่อกด links */
    background-color: darkmagenta;
    text-decoration: underline;
}
form {
    border: 3px solid #f1f1f1;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    background-color: red;
    padding: 14px 20px;
    width: auto;
}

span.psw {
    float: right;
    padding: 16px;
}
.big-text{
    animation:slidein 1.5s;
    font-family: 'League Spartan', sans-serif;
    font-size: 30;
    margin: 20px 0;
}
a.btn.btn-first
{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FFA400;
    border-color: #FFA400;
    border-radius: 20px;
}
a.btn:hover
{
    color: black;
}

.interest{
    animation:slide-right 1.5s ;
}
.and{
    animation: slidein 1.5s;
}
h1{
    animation:slide-right 1.5s;
    }
  @keyframes fadeIn{
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity:1;}
    }
    @keyframes slidein {
        from {
          margin-left: 100px;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      } 
      @keyframes slide-right {
        from {
           margin-left: -200px;
        }
    
        to {
           margin-left: 0%;
        }
     }